{% extends 'base.html' %}
{% block body %}
<div class="">
  <div class="container-fluid my-2 ">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/vit.jpg" class="d-block" width="1400" height ="482" w-"100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Welcome to Studeopedia</h5>
            
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/vit-coll.jpg"  width="1400" height ="482" class="d-block w-100" alt="...">
          
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark ">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-4 pb-3 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-4 pt-lg-3">
      <h1 class="display-5 fw-bold lh-1 my-4 text-light">Studeopedia</h1>

      <p class="lead text-light">Studeopedia is an online platform created by students to improve the bond and
        create a dense network among the students and the teachers. Due to globalisation and rapid growth in digital
        education websites play a vital role in progress of students . All information about the institution can be
        accessed using the web platform and this not only improves the status of the institution but also makes all
        the
        academic information available to students .Thus website, this is our best to bridge that gap and make
        acedemics
        for students more interesting and cheerful.</p>

    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
      <img class="rounded" src="/static/stud.jpg" alt="" width="375">
    </div>
  </div>
</div>

<div class="row pb-5 pt-2 container my-4 mx-auto shadow-lg ">
  <div class="">
    <h1 class="p-3 text-center">Club <span class="badge fs-2 bg-warning text-dark">Corner</span></h1>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Technical</strong>
        <h3 class="mb-0">Developers Club</h3>
        
        <p class="card-text mb-auto">It is a University-based community group for students interested in Google developer technologies. UG students or Graduates with an interest in growing as a developer are welcomed.</p>
        <a href="/technicalclubs" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block my-auto">
        
        <img src="/static/Dsc.jpg" class="rounded" alt=""class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c">
          </rect>
        </img>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Non-Technical</strong>
        <h3 class="mb-0">The Economic Society</h3>
        
        <p class="mb-auto">Economic society strives to extend economic concepts beyond the realms of the theory by blending it with technology using data analysis and its applications.
        </p>
        <a href="/nontechnicalclubs" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block my-auto">
        
        <img src="/static/Esoc.PNG" class="rounded" alt=""class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c">
          </rect>
        </img>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Technical</strong>
        <h3 class="mb-0">Computer Society of India</h3>
       
        <p class="card-text mb-auto">It's a community of IT geeks with the vision to share ideas on technology and advancement of theory</p>
        <a href="/technicalclubs" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block my-auto">
        
        <img src="/static/cs.png" class="rounded" alt=""class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c">
          </rect>
        </img>

      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Non-Technical</strong>
        <h3 class="mb-0">Abhivriddhi</h3>
        
        <p class="mb-auto">Abhivriddhi aims to promote and support student development by providing high‑quality educational training programs.
        </p>
        <a href="/nontechnicalclubs" class="stretched-link">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block my-auto">
        
        <img src="/static/abhi.jfif" class="rounded" alt=""class="bd-placeholder-img" width="200" height="200" xmlns="http://www.w3.org/2000/svg" role="img"
          aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c">
          </rect>
        </img>

      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}

